
    <!-- <div class="team-area pt-95 pb-70"> -->
        <div class="advisors-area gray-bg pt-95 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="events-details-form faq-area-form mb-30 p-0">
                            <form>
                                <div class="row">
                                    <div class="col-xl-10">
                                        <div class="events-form-title text-left mb-30">
                                            <h3 class="section-title bg-white text-center text-primary px-3">Contact</h3>
                                            <p>RAJE DHARMARAO SCIENCE COLLEGE, AHERI</p>
                                            <p><b>Tah:</b> AHERI</p>
                                            <P><b>DIST:</b> GADCHIROLI</P>
                                            <P>MAHARASHTRA STATE</P>
                                            <P>INDIA</P>
                                            <P><b> PIN CODE: </b> 442 707</P>
                                            <P> <b>Contact Number: </b> 9421733000</P>
                                            <!-- <p> <b>Principal Number:</b> 09421735762 </p>
    
                                            <li>
                                                <a href="netajisciencecollegemulchera@gmail.com / nsscmulchera@gmail.com / Info@nssc.edu.in ">email:netajisciencecollegemulchera@gmail.com / nsscmulchera@gmail.com / Info@nssc.edu.in</a>
                                            </li>
                                             -->
                                            <li>
                                                <a href="https://rdsca.ac.in">Website:www.rdsca.ac.in
                                                </a>
                                            </li>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
        <h3 style="text-align: center;">Google Map Location</h3>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.711891962207!2d79.99645471486097!3d19.682293286742887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a2d0ca55c82107d%3A0xb411860a1a54384a!2sNetaji%20Subhashchandra%20Science%20College!5e0!3m2!1sen!2sin!4v1651914704560!5m2!1sen!2sin" width="1500" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div> -->
        <!-- </div> -->
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15051.764613418913!2d80.0054168!3d19.4149484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfd5e17fc1d905add!2sRaje%20Dharmarao%20Science%20College!5e0!3m2!1sen!2sin!4v1675853687632!5m2!1sen!2sin" width="1300" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3762.9615367531205!2d80.00042901490642!3d19.414067786894847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDI0JzUwLjYiTiA4MMKwMDAnMDkuNCJF!5e0!3m2!1sen!2sin!4v1677921990382!5m2!1sen!2sin" width="1300" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->

        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3762.95912490021!2d80.00026601490639!3d19.414171986894846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDI0JzUxLjAiTiA4MMKwMDAnMDguOCJF!5e0!3m2!1sen!2sin!4v1679917583325!5m2!1sen!2sin" width="1300" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>