
<img class="abimg" src="assets/img/Faculty4.jpeg" width="250" height="300" 
alt="Picture of scissors" align="left" />


<div class="txt">
<!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s"> -->
  <h3 class="section-title bg-white text-start text-primary pe-3">Principle Message </h3>
  
  <p class="mb-4">Dharmarao Shikshan Mandal was established by Shrimant Raje Vishveshwar Rao in 1958 at Aheri. Now the society runs more than 50 institutions including senior colleges, Junior colleges. secondary school, primary schools and Hostels (Girls and Boys) etc.</p>
  <p class="mb-4">Dharmarao Shikshan Mandal has started Raje Dharmarao College of Science at Aheri, Dist Gadchiroli, Since Session 1987-88 with the Enrolment of the student in B.Sc. part 1 (Math and Biology) Group.</p>
  <p class="mb-4">The College meets in two shifts Morning Shift 7 am to 12 pm and Noon Shift From 10.30 am to 5.45 pm. The College shifted to new building since session 2021 -22.</p>
  
</div>

