
<div class="advisors-area gray-bg pt-95 pb-70">
    <div class="container">
        <!-- <div class="row"> -->
            <div class="col-xl-12 col-lg-12 col-md-10 ">
                <!-- <h1 style="text-align: center;"> FACULTY</h1> -->
                <!-- <h3 style="text-align: center;padding-bottom: 25px; margin-top: 20px;"> <b> PERMANENT TEACHING STAFF</b></h3> -->
                <h3 class="section-title bg-white text-center text-primary px-3 align-items-center">Teaching Staff</h3>

                <div class="thumbdiv" id="tab1" style="display: block;">
                    <!-- <ul class="listing">
                        <li> -->
                            <div class="row" style="margin-left: 100px;">
                                <div style="width: 100%; align-items: center;">
                                    <div style="width: 20%; float: left;">
                                        <img class="imageClass" src="../assets/img/Faculty4.jpeg" alt="">
                                    </div>
                                    <div style="width: 50%; float: left; align-items: center;">
                                        <h2><a href="#" class="colr">Dr.Manoranjan Krishnapade Mondal</a></h2>
                                        <h6> <b>Designation : </b> Principal </h6>
                                        <h6> <b>Qualification : </b>M.SC (Chemistry), M.Phil., Ph.D. </h6>
                                        <h6> <b>Department : </b>Chemistry</h6>
                                        <h6> <b>Contact No. : </b> 9421733000 </h6>    
                                        <h6> <b>Email Id. : </b> mkmondal.k@gmail.com</h6>
                                        <!-- <h6> <a target="_blank" href="resume.pdf">Download Resume</a> </h6> -->

                                    </div>
                                </div>
                            </div><br>
                            <div class="row" style="margin-left: 100px;">
                                <div style="width: 100%; align-items: center;">
                                    <div style="width: 20%; float: left;">
                                        <img class="imageClass" src="../assets/img/f2.jpeg" alt="">
                                    </div>
                                    <div style="width: 50%; float: left; align-items: center;">
                                        <h2><a href="#" class="colr">Dr.Shyamalkant Kanak Biswas</a></h2>
                                        <h6> <b>Designation : </b> Asst.Professor And Head </h6>
                                        <h6> <b>Qualification : </b>M.SC (Chemistry), M.Phil.,NET,ITATE,PGDIT,CTTC</h6>
                                        <h6> <b>Department : </b>Chemistry</h6>

                                        <h6> <b>Contact No. : </b> 9921337736</h6>
                                        <h6> <b>Email Id. : </b> shamalkbiswas7777@gmail.com</h6>
                                    </div>
                                </div>
                            </div><br>
                         
                            <div class="row" style="margin-left: 100px;">
                                <div style="width: 100%; align-items: center;">
                                    <div style="width: 20%; float: left;">
                                        <img class="imageClass" src="../assets/img/f3.jpeg" alt="">
                                    </div>
                                    <div style="width: 50%; float: left; align-items: center;">
                                        <h2><a href="#" class="colr">Mr. Atul Ramkrishnaji Khobragade</a></h2>
                                        <h6> <b>Designation : </b> Asst.Professor And Head </h6>
                                        <h6> <b>Qualification : </b> M.SC (Physics), M.Phil., B.Ed. </h6>
                                        <h6> <b>Department : </b>Physics</h6>

                                        <h6> <b>Contact No. : </b> 9421776639 </h6>
                                        <h6> <b>Email Id. : </b> atulkhobragade01@gmail.com</h6>
                                    </div>
                                </div>
                            </div><br>
    
                            <div class="row" style="margin-left: 100px;">
                                <div style="width: 100%; align-items: center;">
                                    <div style="width: 20%; float: left;">
                                        <img class="imageClass" src="../assets/img/f4.jpeg" alt="">
                                    </div>
                                    <div style="width: 50%; float: left; align-items: center;">
                                        <h2><a href="#" class="colr"> Dr.Laxman Hariji Rohmkar</a></h2>
                                        <h6> <b>Designation : </b> Asst.Professor And Head  </h6>
                                        <h6> <b>Qualification : </b> M.SC.(Zoology), B.Ed., M.A.,PhD  </h6> 
                                        <h6> <b>Department : </b>Zoology</h6>
  
                                        <h6> <b>Contact No. : </b> 9422906148 </h6>
                                        <h6> <b>Email Id. : </b>lhrohankar9@gmail.com  </h6>
                                    </div>
                                </div>
                            </div><br>

                   
                            <div class="row" style="margin-left: 100px;">
                                <div style="width: 100%; align-items: center;">
                                    <div style="width: 20%; float: left;">
                                        <img class="imageClass" src="../assets/img/f5.jpeg" alt="">
                                    </div>
                                    <div style="width: 50%; float: left; align-items: center;">
                                        <h2><a href="#" class="colr">Mr.Ramesh Ramchandra Halami</a></h2>
                                        <h6> <b>Designation : </b> Asst.Professor And Head</h6>
                                        <h6> <b>Qualification : </b> M.Sc. (Botany), M. phil.</h6> 
                                        <h6> <b>Department : </b>Boteny</h6>                                     
                                        <h6> <b>Contact No. : </b> 9421728710</h6>
                                        <h6> <b>Email Id. : </b> rameshhalimi@gmail.com</h6>
                                    </div>
                                </div>
                            </div><br>
                           

                            <div class="row" style="margin-left: 100px;">
                                <div style="width: 100%; align-items: center;">
                                    <div style="width: 20%; float: left;">
                                        <img class="imageClass" src="../assets/img/f6.jpeg" alt="">
                                    </div>
                                    <div style="width: 50%; float: left; align-items: center;">
                                        <h2><a href="#" class="colr"> Prof. Damaji T. Dongre</a></h2>
                                        <h6> <b>Designation : </b>  Asst.Professor And Head</h6>
                                        <h6> <b>Qualification : </b>M.Sc. (Mathematics), M. phil</h6>
                                        <h6> <b>Department : </b>Mathematics</h6>
                                        <h6> <b>Contact No. : </b>9421730136 </h6>
                                        <h6> <b>Email Id. : </b> tanajimore45@gmail.com</h6>
                                    </div>
                                </div>
                            </div><br>

                            <div class="row" style="margin-left: 100px;">
                                <div style="width: 100%; align-items: center;">
                                    <div style="width: 20%; float: left;">
                                        <img class="imageClass" src="../assets/img/f7.jpeg" alt="">
                                    </div>
                                    <div style="width: 50%; float: left; align-items: center;">
                                        <h2><a href="#" class="colr">Dr. Sunanda Adwaita Pal</a></h2>
                                        <h6> <b>Designation : </b> Director of Physical Education</h6>
                                        <h6> <b>Qualification : </b> M.P.Ed.,Ph.D  </h6>
                                        <h6> <b>Department : </b>Physical Education</h6>
                                        <h6> <b>Contact No. : </b>9423122263 </h6>
                                        <h6> <b>Email Id. : </b> palsunands545@gmail.com</h6>
                                    </div>
                                </div>
                            </div><br>

                      <!-- </li>
                    </ul> -->
                    <div class="hdiv">&nbsp;</div>
                </div>


            </div>
        <!-- </div> -->
    </div>
</div>      
<!-- </div> -->

