
  <!-- About Start -->
  <!-- <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/img/clgimg3.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About College </h6>
                <h1 class="mb-4">Welcome to Raje Dharmarao College of Science</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p> 
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> 
                <p class="mb-4">RDCS-Raje Dharmarao  College of Science was established in 1987 and located in Gadchiroli, Maharashtra, India. The RDSC-Raje Dharmarao Science College is a premier college in Gadchiroli for known as excellence educational standards, various educational programs, grand faculty, and various extracurricular activities and modern infrastructure.</p>
                <p class="mb-4"> RDCS-Raje Dharmarao  College of Science affiliated by Gondwana University the college supports the highest superior standards and best practices in higher education.</p>
                 <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                </div> 
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
  </div> -->
  <!-- About End -->
  

  <img class="abimg" src="assets/img/clgimg3.jpg" width="550" height="415" 
  alt="Picture of scissors" align="left" />


<div class="txt">
  <!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s"> -->
    <h5 class="section-title bg-white text-start text-primary pe-3">About College </h5>
    <h1 class="mb-4">Welcome to Raje Dharmarao College of Science</h1>
    <p class="mb-4">Dharmarao Shikshan Mandal. Aheri is foundation society which runs this college.</p> 
    <p class="mb-4">Dharmarao Shikshan Mandal was established by Shrimant Raje Vishveshwar Rao in 1958 at Aheri. Now the society runs more than 50 institutions including senior colleges, Junior colleges. secondary school, primary schools and Hostels (Girls and Boys) etc.</p>
    <p class="mb-4">Dharmarao Shikshan Mandal has started Raje Dharmarao College of Science at Aheri, Dist Gadchiroli, Since Session 1987-88 with the Enrolment of the student in B.Sc. part 1 (Math and Biology) Group.</p>
    <p class="mb-4">The College meets in two shifts Morning Shift 7 am to 12 pm and Noon Shift From 10.30 am to 5.45 pm. The College shifted to new building since session 2021 -22.</p>
    <p class="mb-4">The college hast two storied building situated near Dansur Chouk Aheri, Building includes Four science Laboratories, Five Class room, One Principal Room, Administrative block, Library, Girls common room, Staff room, Office Block, NSS, Sport, Auditorium. </p>
    <p class="mb-4">The college is successfully completed 35 years of its service to the cause of Education and Achieved a Sound Academic Progress. NAAC peer team visited the college during 8 & 9 September 2004 to make and assessment of college and have accredited at C++ level with Score 64.60. </p>
 <!-- </div> -->
 </div>
 