
    <!-- <div class="team-area pt-95 pb-70"> -->
        <div class="container" style="padding: 50px 0px">
            <div class="row">
                <div class="col-xl-12  col-lg-12  col-md-10 ">
                    <!-- <div class="section-title mb-50 text-center"> -->
                        <div class="section-title-heading mb-20">
                            <h1 class="primary-color" style="text-align: center;">Vission</h1>
                        </div>
                        <div class="section-title-para" style="padding-left: 50px;">
                            <!-- <ul>
                                <li>•To inculcate knowledge skills, national integration and preserve cultural heritage.</li>
                                <li>•To encourage individuality and diversity within a climate of tolerance and mutual understanding among the students.</li>
                                <li>•To remove blind faith, addiction and superstition from tribal and  backward communities of the society.</li>
                                <li>•To promote freedom, secularism and social justice to the students.</li>

                            </ul> -->
                            <p class="gray-color" style="text-align: left;">The vision of institution is to provide higher education to the rural students at low and affordable cost with the quality parameters of national education program and to inculcate committedness and social responsibilities, sense of justice, leadership qualities. and ethical values.</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-12  col-lg-12  col-md-10 ">
                    <!-- <div class="section-title mb-50 text-center"> -->
                        <div class="section-title-heading mb-20">
                            <h1 class="primary-color" style="text-align: center;">Mission</h1>
                        </div>
                        <div class="section-title-para" style="padding-left: 50px;">
                            <!-- <ul>
                                <li>•To inculcate knowledge skills, national integration and preserve cultural heritage.</li>
                                <li>•To encourage individuality and diversity within a climate of tolerance and mutual understanding among the students.</li>
                                <li>•To remove blind faith, addiction and superstition from tribal and  backward communities of the society.</li>
                                <li>•To promote freedom, secularism and social justice to the students.</li>

                            </ul> -->
                            <p class="gray-color" style="text-align: left;">• To provide quality education to the students to develop their moral values, devotion to duty, spirit of social service.</p>
                            <p class="gray-color" style="text-align: left;">• To create intellectually stimulating environment for students to acquire skill based knowledge and platform for creativity, innovations to progress towards excellence and to make them vibrant and conversant with current knowledge.</p>
                            <p class="gray-color" style="text-align: left;">• Spreading science education among the poor needy students, So that they are capable to uplift their life style.</p>
                            <p class="gray-color" style="text-align: left;">• To inculcate sense of discipline and responsibility towards nature and society.</p>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        <!-- </div> -->
        
    <!-- </div> -->

